<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.web.dao.OrderProfitMapper">
    <resultMap id="OrderProfitResultMap" type="com.base.web.bean.OrderProfit">
        <id property="id" column="u_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="parentId" column="parent_order_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="childId" column="child_order_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="goodsId" column="goods_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="price" column="price" javaType="BigDecimal" jdbcType="DECIMAL"/>
        <result property="createTime" column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="type" column="type" javaType="Integer" jdbcType="TINYINT"/>
    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'OrderProfitResultMap'"/>
        <bind name="tableName" value="'t_order_profit'"/>
    </sql>

    <insert id="insert" parameterType="com.base.web.bean.common.InsertParam" >
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="com.base.web.bean.common.DeleteParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>
    <update id="update" parameterType="com.base.web.bean.common.UpdateParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>
    <select id="selectByPk" parameterType="Long" resultMap="OrderProfitResultMap">
        select * from t_order_profit WHERE u_id=#{id}
    </select>
    <select id="select" parameterType="com.base.web.bean.common.QueryParam" resultMap="OrderProfitResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="total" parameterType="com.base.web.bean.common.QueryParam" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>

    <!-->>查询用户分润 0:试衣购买，1：平台购买-->
    <select id="queryOrderProfit" resultType="java.util.HashMap">
        SELECT top.order_user_id 'orderUserId',
        top.money,
        top.create_time 'createTime',
        tgs.u_id 'goodsId',
        tgs.goods_name 'goodsName'
        FROM t_order_profit top,t_goods tgs
        WHERE top.user_id = #{userId} AND top.type = #{type} AND top.goods_id = tgs.u_id ORDER BY top.create_time DESC
        limit #{queryParam.pageIndex},#{queryParam.pageSize}
    </select>
    <select id="queryOrderProfitListByUserId" parameterType="Long" resultType="java.util.HashMap">
        SELECT
        top.u_id AS 'id',
        top.type,
        tg.goods_name AS 'goodsName',
        top.goods_id AS 'goodsId',
        top.create_time,
        top.money
        FROM
        t_order_profit top
        INNER JOIN t_goods tg
        ON tg.u_id = top.u_id
        WHERE
        top.user_id = #{userId}
        AND top.order_user_id = #{orderUserId}
    </select>
    <select id="transactionRecord" parameterType="com.base.web.bean.common.QueryParam" resultType="java.util.HashMap">
        SELECT
        top.u_id AS 'id',
        top.type,
        tg.goods_name AS 'goodsName',
        top.goods_id AS 'goodsId',
        top.create_time AS createTime,
        top.price
        FROM
        t_order_profit top
        LEFT JOIN t_goods tg ON tg.u_id = top.goods_id
        WHERE
        top.user_id = #{param.userId}
        ORDER BY top.create_time DESC
        LIMIT #{pageIndex}, #{pageSize}
    </select>
    <select id="transactionRecordTotal" parameterType="com.base.web.bean.common.QueryParam" resultType="Integer">
        SELECT
        COUNT(top.u_id)
        FROM
        t_order_profit top
        LEFT JOIN t_goods tg ON tg.u_id = top.goods_id
        WHERE
        top.user_id = #{param.userId}
    </select>
</mapper>