<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.web.dao.PageViewStatisticalViceMapper">
    <resultMap id="PageViewStatisticalViceResultMap" type="com.base.web.bean.PageViewStatisticalVice">
        <id property="id" column="u_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="shopId" column="shop_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="sales" column="sales" javaType="Long" jdbcType="BIGINT"/>
        <result property="viceId" column="vice_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="pageView" column="page_view" javaType="Long" jdbcType="BIGINT"/>
    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'PageViewStatisticalViceResultMap'"/>
        <bind name="tableName" value="'t_page_view_statistical_vice'"/>
    </sql>
    <insert id="insert" parameterType="com.base.web.bean.common.InsertParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="com.base.web.bean.common.DeleteParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="com.base.web.bean.common.UpdateParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="selectByPk" parameterType="Long" resultMap="PageViewStatisticalViceResultMap">
        SELECT
        t.*
        FROM
        t_page_view_statistical_vice t
        where t.u_id=#{id}
    </select>

    <select id="select" parameterType="com.base.web.bean.common.QueryParam" resultMap="PageViewStatisticalViceResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <update id="updateStatusByUId">
        UPDATE t_page_view_statistical_vice SET `status` = #{status} WHERE u_id=#{uId}
    </update>

    <!--查询某品牌每周各门店的商品销量和浏览量-->
    <select id="queryPageViewAndSales" parameterType="Long" resultType="java.util.HashMap">
        SELECT tpvg.shop_id AS shopId, SUM(tpvg.sales) AS sales, SUM(tpvg.page_view) AS pageView
        FROM t_page_view_goods tpvg,t_shop_brand tsb
        WHERE tpvg.time_frame = 0
        AND tpvg.create_time = DATE(now())
        AND tsb.shop_id = tpvg.shop_id
        AND tsb.brand_id = #{brandId}
        GROUP BY tpvg.shop_id
    </select>

    <!--查询某品牌每月各门店的商品销量-->
    <select id="queryMonthPageViewAndSales"  resultType="java.util.HashMap">
        SELECT
        tsm.brand_id AS brandId,
        SUM(tsm.sales) AS sales,
        SUM(tsm.page_view) AS pageView
        FROM
        t_page_view_statistical_main tsm
        WHERE
        tsm.time_frame = 0
        AND DATE_FORMAT(tsm.create_time,'%Y%m') = DATE_FORMAT(CURDATE( ),'%Y%m')
        GROUP BY tsm.brand_id
    </select>

    <!--查询某品牌每季度各门店的商品销量-->
    <select id="queryQuarterPageViewAndSales" resultType="java.util.HashMap">
        SELECT
        tsm.brand_id AS brandId,
        SUM(tsm.sales) AS sales,
        SUM(tsm.page_view) AS pageView
        FROM
        t_page_view_statistical_main tsm
        WHERE
        tsm.time_frame = 1
        AND QUARTER(tsm.create_time) = QUARTER(now())
        GROUP BY tsm.brand_id
    </select>
    <!--查询某品牌年各门店的商品销量-->
    <select id="queryYearPageViewAndSales" resultType="java.util.HashMap">
        SELECT
        tsm.brand_id AS brandId,
        SUM(tsm.sales) AS sales,
        SUM(tsm.page_view) AS pageView
        FROM
        t_page_view_statistical_main tsm
        WHERE
        tsm.time_frame = 1
        AND YEAR (tsm.create_time) = YEAR (now())
        GROUP BY tsm.brand_id
    </select>

    <!-- 批量插入试衣秀服装的商品销量和浏览量 -->
    <insert id="insertPageViewForShop" parameterType="java.util.List">
        insert into t_page_view_statistical_vice
        (u_id,shop_id,sales,page_view,vice_id)
        values
        <foreach collection="list" item="queryItem" index="index" separator=",">
            (
            #{queryItem.id},
            #{queryItem.shopId},
            #{queryItem.sales},
            #{queryItem.pageView},
            #{queryItem.viceId}
            )
        </foreach>
    </insert>
</mapper>