<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.base.web.dao.ShopBrandMapper">
    <resultMap id="ShopBrandResultMap" type="com.base.web.bean.ShopBrand">
        <id property="id" column="u_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="shopId" column="shop_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="brandId" column="brand_id" javaType="Integer" jdbcType="INTEGER"/>
    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'ShopBrandResultMap'"/>
        <bind name="tableName" value="'t_shop_brand'"/>
    </sql>

    <insert id="insert" parameterType="com.base.web.bean.common.InsertParam" >
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="com.base.web.bean.common.DeleteParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>
    <update id="update" parameterType="com.base.web.bean.common.UpdateParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>
    <select id="selectByPk" parameterType="Long" resultMap="ShopBrandResultMap">
        select * from t_shop_brand WHERE u_id=#{id}
    </select>
    <select id="select" parameterType="com.base.web.bean.common.QueryParam" resultMap="ShopBrandResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="total" parameterType="com.base.web.bean.common.QueryParam" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>

    <!--自定义sql语句-->
    <select id="queryBrand" parameterType="String" resultType="java.util.HashMap">
        SELECT tsb.u_id AS Id, tsb.shop_id AS shopId, tsb.brand_id AS brandId, tb.name AS brandName
        FROM t_shop_brand AS tsb, t_brand AS tb
        WHERE tsb.brand_id = tb.u_id AND shop_id = #{shopId}
    </select>

    <!--查询某品牌全部门店-->
    <select id="queryAllShopByBrandId" parameterType="String" resultType="java.util.HashMap">
        SELECT ts.u_id AS id,ts.`name` AS shopName
        FROM t_shop_brand tsb,t_shop ts
        WHERE tsb.shop_id = ts.u_id AND tsb.brand_id = #{brandId}
    </select>

    <select id="queryShopBrand" resultType="java.util.HashMap">
        SELECT u_id AS id, name
        FROM t_brand WHERE `status` = 1
    </select>

</mapper>